---
---
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Iskra", serif;
  font-family: "Tornac", cursive;
  background-color: #1c2f33;
}

body {
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.why-box {
  padding-top: 5em;
  opacity: 0.7;
}

.fa {
  padding: .5rem;
}

.fa:hover {
  color: #edaf20;
}

.hover:hover {
  color: #edaf20;
}

.pad-first {
  margin-top: 175px;
}

.cs-pad-first {
  margin-top: 125px;
}

p {
  font-family: "Iskra", serif;
  max-width: 35em;
}

h2 {
  text-align: center;
  padding-bottom: 0;
}

h6 {
  font-weight: normal;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.seperator {
  text-align: center;
  display: block;
  margin: 3rem auto;
  width: 100%;
}

.em {
  color: #7C8080;
  max-width: 30em;
}

.pad-r {
  padding-right: 1rem;
  padding-top: 1rem;
}

/* NAV */

.navbar {
  top: 0;
  left: 0;
  background-color: #1c2f33;
  width: 100%;
  z-index: 1000;
}

.logo {
  text-align: center;
  margin-top: 1.5rem;
}

.nav {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: iskra, serif;
  text-align: left;
}

.nav-text {
  padding: 1rem;
}

/* BANNER */

.banner-img {
  position: relative;
  background-image: url("{{site.baseurl}}/images/mobile.jpg");
  min-height: 30rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.why {
  text-align: left;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 1rem;
  margin-bottom: 0;
  color: #000;
  font-family: iskra, serif;
  background-color: #fff;
  width: 50%;
  opacity: 1;
  border-radius: 0 8px 0 0;
}

.why-b {
  padding: 1rem;
  padding-top: 1rem;
  background-color: #fff;
  width: 50%;
  opacity: 1;
  border-radius: 0 0 8px 0;
}

/* ABOUT */

.me {
  display: none;
}

.me-desc {
  padding: 1rem;
}

/* CURIOSITIES */

img.grayscale {
  filter: grayscale(100%);
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* CASE STUDIES */

.cs-head {
  padding-top: 1rem;
}

.ddn-img {
  padding-top: 0;
  margin-top: 0;
}

.bg-img {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/alive/full.jpg");
  min-height: 35rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bg-img-map {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/map/final-mobile.jpg");
  min-height: 35rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bg-img-mayo {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/mayofest/mobile.jpg");
  min-height: 15rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bg-img-ddn {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/ddn/final.jpg");
  min-height: 15rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bg-img-quohog {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/quohog/3d-mobile.jpg");
  min-height: 15rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bg-img-impact {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/impact/full.png");
  min-height: 15rem;
  overflow: hidden;
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: center;
}

.btn-marg {
  margin: 1rem;
}

.btn:hover {
  color: #000;
  background-color: #edaf20;
  border-color: #edaf20;
}

.iskra {
  font-family: Iskra, serif;
}

.tornac {
  font-family: Tornac, cursive;
}

.map {
  max-width: 45%;
  display: inline;
}

.mayo-desc, {
  background: #124453;
  color: #fff;
}

.intro {
  font-size: 0.8rem;
  padding-top: 0;
  margin-top: 0;
}

.block {
  background-color: #1c2f33;
  height: 3em;
}

.frame {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* FOOTER */

.footer-distributed{
  background-color: #1c2f33;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: "Iskra" 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  margin-top: 80px;
  overflow: hidden;
  letter-spacing: 1px;
}

.oops {
  max-height: 800px;
}

/* Footer left */

.footer-distributed .footer-left{
  float: left;
}


/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name{
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 35px;

  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 40px;
}

.right {
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.dots {
  max-width: 5rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 608px) {

  .nav {
    text-align: right;
    margin-top: 1rem;
  }

  .why {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .me-small {
    display: none;
  }

  .me {
    height: 600px;
    display: inline;
  }

  .seperator {
    text-align: center;
    display: block;
    margin: 3rem auto;
    width: 40%;
  }

  .sc-desc {
    padding-top: 4rem;
  }

  .sc-body {
    display: block;
  }

  .sc-btn {
    width: 30%;
    display: block;
  }

  .pad-first {
    margin-top: 125px;
  }

  .cs-pad-first {
    margin-top: 120px;
  }

  .symbols {
    padding-top: 4em;
  }

  .bg-img-ddn {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/ddn/final.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .bg-img-quohog {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/quohog/3d-bg.jpg");
    min-height: 30rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .bg-img-impact {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/impact/full.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .frame {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  .left {
    text-align: left;
  }

  .why-b {
    padding: 1rem;
    padding-top: 0;
    background-color: #fff;
    width: 50%;
    opacity: 1;
    border-radius: 0 0 8px 0;
  }

}

@media only screen and (min-width: 60em) {

  .sc-desc {
    padding-top: 8rem;
  }

  .symbols {
    padding-top: 5em;
  }

  .banner-img {
    position: relative;
    background-image: url("{{site.baseurl}}/images/banner.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-mayo {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/mayofest/mayo.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-ddn {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/ddn/final.jpg");
    min-height: 35rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-impact {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/impact/full.png");
    min-height: 35rem;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/alive/fullbg.jpg");
    min-height: 35rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

}

@media only screen and (min-width: 90em) {

  .seperator {
    text-align: center;
    display: block;
    margin: 3rem auto;
    width: 30%;
  }

  .sc-desc {
    padding-top: 10rem;
  }

  .sc-btn {
    width: 20%;
  }

  .pad-first {
    margin-top: 150px;
  }

  .banner-img {
    position: relative;
    background-image: url("{{site.baseurl}}/images/banner.jpg");
    min-height: 35rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-mayo {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/mayofest/mayo.jpg");
    min-height: 40rem;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-impact {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/impact/full.png");
    min-height: 40rem;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-map {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/map/final-bg.jpg");
    max-height: 15rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-attachment: fixed;
  }

  .why-box {
    padding-top: 7em;
    max-width: 60em;
  }

  .symbols {
    padding-top: 7em;
  }

  .frame {
    margin-left: 20rem;
    margin-right: 20rem;
  }

}
