---
---
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Iskra", serif;
  font-family: "Tornac", cursive;
  background-color: #ee6e47;
  overflow-x: hidden
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* BASE STYLES */
body {
  background-color: #fff;
  overflow-x: hidden;
}

p {
  font-family: "Iskra", serif;
  max-width: 35em;
}

h2 {
  text-align: center;
  padding-bottom: 0;
}

h6 {
  font-weight: normal;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.iskra {
  font-family: Iskra, serif;
}

.tornac {
  font-family: Tornac, cursive;
}

/* INDEX ANCHOR */
.anchor {
  display: block;
  height: 130px;
  margin-top: -130px;
  visibility: hidden;
}

.anchortwo {
  display: block;
  height: 150px;
  margin-top: -150px;
  visibility: hidden;
}

/* CUSTOM PADDING */
.pad-first {
  margin-top: 135px;
}

.cs-pad-first {
  margin-top: 85px;
}

.pad-r {
  padding-right: 1rem;
  padding-top: 1rem;
}

/* FONT AWESOME */
.fa {
  padding: .5rem;
  font-size: 22px;
}

.fa:hover {
  color: #ffb900;
}

.hover:hover {
  color: #ffb900;
}

/* MEDIA and EMPHASIS */
.seperator {
  text-align: center;
  display: block;
  margin: 3rem auto;
  width: 100%;
}

.why-box {
  padding-top: 6em;
  opacity: 0.7;
}

img {
  font-family: iskra, serif;
  color: #1c2d3f;
}

.cs-img {
  border-radius: 50%;
}

.em {
  color: #f79b14;
  max-width: 30em;
}

video {
  width: 100%;
}

/* NAV */
.navbar {
  top: 0;
  left: 0;
  background-color: #ee6e47;
  width: 100%;
  z-index: 1000;
}

.logo {
  text-align: center;
  margin: 0 auto;
  padding-top: 0.75rem;
  vertical-align: center;
}

.logo-cs {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 0;
  width: 48px;
  margin: 0 auto;
}

.nav {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-bar {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: iskra, serif;
  text-align: left;
}

.nav-text {
  padding: 1rem;
}

/* INDEX BANNER */
.banner-img {
  position: relative;
  background-image: url("{{site.baseurl}}/images/mobile.jpg");
  min-height: 30rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.why {
  text-align: left;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 1rem;
  margin-bottom: 0;
  color: #000;
  font-family: iskra, serif;
  background-color: #fcbd00;
  width: 50%;
  opacity: 1;
  border-radius: 0 8px 0 0;
}

.why-b {
  padding: 1rem;
  background-color: #b8b8b8;
  width: 50%;
  opacity: 1;
  border-radius: 0 8px 8px 0;
  max-width: 25em;
}

/* ABOUT */
.me {
  display: none;
}

.me-desc {
  padding: 1rem;
}

/* CASE STUDIES */

.bottles {
  max-width: 50%;
  display: inline;
}

.cs-head {
  padding-top: 1rem;
}

.showcase {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cur {
  margin-bottom: 0;
}

.ddn-img {
  padding-top: 0;
  margin-top: 0;
}

.ddn-logo {
  width: 50%;
  margin: auto;
  text-align: center;
  display: block;
}

.bg-img {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/alive/mobile.jpg");
  min-height: 45rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: none;
}

.bg-img-map {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/map/final-mobile.jpg");
  min-height: 35rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bg-img-mayo {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/mayofest/mobile.jpg");
  min-height: 15rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bg-img-ddn {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/ddn/mobile.jpg");
  min-height: 25rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: none;
}

.verjus {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/verjus/earth.jpg");
  min-height: 25rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  display: none;
}

.bg-img-quohog {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/quohog/3d-mobile.jpg");
  min-height: 15rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: none;
}

.bg-img-impact {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/impact/full-bg.jpg");
  min-height: 15rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bg-img-atom {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/castorandpollux/pollux-bg.jpg");
  min-height: 25rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: none;
}

.bg-img-homeo {
  position: relative;
  background-image: url("{{site.baseurl}}/images/case-studies/homeo/stationary.jpg");
  min-height: 25rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: none;
}

  .bg-img-howl {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/howl/banner-mob.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    display: none;
  }

.quohog {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.ch {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.btn-marg {
  margin: 1rem 0 2rem 0;
}

.btn:hover {
  color: #000;
  background-color: #ffb900;
  border-color: #ffb900;
}

.map {
  max-width: 45%;
  display: inline;
}

.mayo-desc, {
  background: #124453;
  color: #fff;
}

.intro {
  font-size: 100%;
  padding-top: 0;
  margin-top: 0;
}

.frame {
  margin-left: 1rem;
  margin-right: 1rem;
}

.showcase {
  margin: 0 auto;
  max-width: 50em;
  margin-bottom: 3rem;
}

/* FOOTER */

.footer-distributed{
  background-color: #ee6e47;
  box-sizing: border-box;
  width: 100%;
  font: "Iskra" 16px serif;
  text-align: left;
  padding: 50px 60px 40px;
  padding-bottom: 0;
  padding-top: 20px;
  overflow: hidden;
  letter-spacing: 1px;
  vertical-align: center;
}

.oops {
  max-height: 800px;
  margin-bottom: 2rem;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 35px;

  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.right {
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  max-width: 22em;
}

.dots {
  max-width: 6rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: .35rem;
}

.bcard {
  display: block;
}

@media only screen and (min-width: 608px) {

  img.grayscale {
    filter: grayscale(100%);
  }

  img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(100%);
  }

  .bcard {
    display: none;
  }

  .intro {
    font-size: 80%;
    padding-top: 0;
    margin-top: 0;
  }

  .nav {
    text-align: right;
    margin-top: 1rem;
  }

  .why {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .me-small {
    display: none;
  }

  .me {
    height: 600px;
    display: inline;
  }

  .seperator {
    text-align: center;
    display: block;
    margin: 3rem auto;
    width: 40%;
  }

  .sc-desc {
    padding-top: 4rem;
  }

  .sc-body {
    display: block;
  }

  .sc-btn {
    width: 30%;
    display: block;
  }

  .btn {
    background-color: #b8b8b8;
    border-color: #b8b8b8;
  }

  .pad-first {
    margin-top: 90px;
  }

  .cs-pad-first {
    margin-top: 100px;
  }

  .symbols {
    padding-top: 4em;
  }

  .bg-img-ddn {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/ddn/mobile.jpg");
    min-height: 30rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: block;
  }

  .bg-img-atom {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/castorandpollux/pollux-bg.jpg");
    min-height: 30rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    display: block;
  }


  .bg-img-impact {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/impact/full-bg.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
    display: block;
  }

  .bg-img-homeo {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/homeo/stationary.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: block;
    background-attachment: fixed;
  }

  .bg-img-quohog {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/quohog/3d-bg.jpg");
    min-height: 30rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    display: block;
  }

  .bg-img-howl {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/howl/lineup.jpg");
    min-height: 30rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    display: block;
  }

  .verjus {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/verjus/earth3.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    display: block;
  }

  /* HOWL PHOTO GRID */

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

  .frame {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  .left {
    text-align: left;
  }

  .why-b {
    padding: 2rem;
    background-color: #b8b8b8;
    width: 50%;
    opacity: 1;
    border-radius: 0 8px 8px 0;
  }

  .ch {
    text-align: center;
    width: 50%;
  }

  .quohog {
    max-width: 70%;
    display: block;
    margin: 0 auto;
  }

  .logo {
    text-align: center;
    padding-top: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  img.grayscale {
    filter: grayscale(100%);
  }

  .why-box {
    padding-top: 8em;
    max-width: 60em;
  }

  img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }

  .sc-desc {
    padding-top: 8rem;
  }

  .symbols {
    padding-top: 5em;
  }

  .vert-img {
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  .vert {
    text-align: center;
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  .banner-img {
    position: relative;
    background-image: url("{{site.baseurl}}/images/banner2.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-atom {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/castorandpollux/pollux-bg.jpg");
    min-height: 40rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .cs-pad-first {
    margin-top: 90px;
  }

  .bg-img-quohog {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/quohog/3d-bg.jpg");
    min-height: 30rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    display: block;
  }

  .bg-img-mayo {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/mayofest/mayo.jpg");
    min-height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-ddn {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/ddn/final.jpg");
    min-height: 35rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-impact {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/impact/full-bg.jpg");
    min-height: 35rem;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/alive/fullbg.jpg");
    min-height: 35rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    display: block;
  }

  .bg-img-map {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/map/final-bg.jpg");
    max-height: 15rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-attachment: fixed;
  }

  .bg-img-homeo {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/homeo/stationary.jpg");
    min-height: 30rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: block;
    background-attachment: fixed;
  }

  .quohog {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 90em) {

  .seperator {
    text-align: center;
    display: block;
    margin: 3rem auto;
    width: 30%;
  }

  .sc-desc {
    padding-top: 10rem;
  }

  .sc-btn {
    width: 20%;
  }

  .pad-first {
    margin-top: 100px;
  }

  .banner-img {
    position: relative;
    background-image: url("{{site.baseurl}}/images/banner2.jpg");
    min-height: 35rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-mayo {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/mayofest/mayo.jpg");
    min-height: 40rem;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-impact {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/impact/full-bg.jpg");
    min-height: 40rem;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-img-map {
    position: relative;
    background-image: url("{{site.baseurl}}/images/case-studies/map/final-bg.jpg");
    max-height: 15rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-attachment: fixed;
  }

  .why-box {
    padding-top: 10em;
    max-width: 60em;
  }

  .symbols {
    padding-top: 7em;
  }

  .frame {
    margin-left: 20rem;
    margin-right: 20rem;
  }

  .quohog {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

}
