<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Graphics of Lore</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/timeline.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  <header roll="nav">
  <div class="navbar grid fixed">
    <h1 class="logo tera unit l-1-3 m-1-3 xs-1">lore berg</h1>
    <div class="nav unit l-2-3 m-2-3 xs-1 grid-middle">
      <a class="milli nav-text" href="#about">ABOUT</a>
      <a class="milli nav-text" href="#curiosities">CURIOSITIES</a>
      <a class="milli nav-text" href="#connect">CONNECT</a>
    </div>
  </div>

  {{content}}

  <footer class="footer-distributed" id="#connect">

    <div class="footer-left">

      <a href="#home">
        <h3>lore berg</h3>
      </a>

      <p class="footer-links">
        <a href="#about">ABOUT</a>
        <a href="#curiosities">CURIOSITIES</a>
        <a href="#connect">CONNECT</a>
      </p>

      <div class="footer-icons">

        <a href="https://www.behance.net/berg0215fb36"><i class="fa fa-behance"></i></a>
        <a href="https://www.instagram.com/graphics.of.lore/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/lauren-berg-a3232211b/"><i class="fa fa-linkedin"></i></a>
        <a href="https://vimeo.com/user56597140"><i class="fa fa-vimeo"></i></a>

      </div>

    </div>

    <div class="footer-right">

      <p>let's talk!</p>

      <form action="mailto:connect@graphicsoflore.ca" method="post">

        <input type="text" name="email" placeholder="Email" />
        <textarea name="message" placeholder="Message"></textarea>
        <input type="submit" value="Send" class="btn">

      </form>

    </div>

  </footer>

  <script src="https://use.typekit.net/esy0vnb.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</body>
</html>
