<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Graphics of Lore</title>
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/mnk4ewv.css">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Graphics of Lore">
  <meta property="og:url" content="http://graphicsoflore.ca">
  <meta property="og:image" content="http://graphicsoflore.ca/images/prev.jpg">
  <meta property="og:site_name" content="Graphics of Lore">
  <meta property="og:description" content="Graphic designer and illustrator Lore Berg's portfolio. Includes studies in web design, print design, branding, illustration, and motion graphics.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Lauren_Berg_GD">
  <meta name="twitter:title" content="Graphics of Lore">
  <meta name="twitter:url" content="http://graphicsoflore.ca">
  <meta name="twitter:description" content="Graphic designer and illustrator Lore Berg's portfolio. Includes studies in web design, print design, branding, illustration, and motion graphics.">
  <meta name="twitter:image" content="http://graphicsoflore.ca/images/tweet.jpg">
</head>
<body>

  {{content}}

  <footer class="footer-distributed" id="connect">

    <div class="grid grid-middle">
      <div class="unit l-1-2 m-1-2 s-1 center left footer-left">
        <a href="{{site.baseurl}}/">
          <img class="i-64" src="{{site.baseurl}}/images/logo.png" alt="designer's logo wordmark reads Lore Berg">
        </a>
        <a class="island hover" href="mailto:connect@graphicsoflore.ca" target="_top">connect@graphicsoflore.ca</a></p>
      </div>
      <div class="unit l-1-2 m-1-2 s-1">
        <div class="footer-icons right">
          <a href="https://www.instagram.com/graphics.of.lore/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.behance.net/berg0215fb36" target="_blank"><i class="fa fa-behance"></i></a>
          <a href="https://www.linkedin.com/in/lauren-berg-a3232211b/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://vimeo.com/user56597140" target="_blank"><i class="fa fa-vimeo"></i></a>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/nav.js"></script>
  <script src="https://use.typekit.net/mnk4ewv.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  </body>
</html>
