<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Graphics of Lore</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  {{content}}

  <footer class="footer-distributed" id="#connect">
    <div class="footer-left">
      <a href="{{site.baseurl}}/index">
        <img class="i-64" src="{{site.baseurl}}/images/logo.png" alt="designer's logo wordmark reads Lore Berg">
      </a>
      <a class="island" href="mailto:connect@graphicsoflore.ca" target="_top">connect@graphicsoflore.ca</a></p>
      <div class="footer-icons">
        <a href="https://www.behance.net/berg0215fb36"><i class="fa fa-behance"></i></a>
        <a href="https://www.instagram.com/graphics.of.lore/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/lauren-berg-a3232211b/"><i class="fa fa-linkedin"></i></a>
        <a href="https://vimeo.com/user56597140"><i class="fa fa-vimeo"></i></a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/nav.js"></script>
  <script src="https://use.typekit.net/esy0vnb.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</body>
</html>
